﻿@*<div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a class="navbar-brand" href="/">Application name</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
            </ul>

        </div>
    </div>
</div>*@

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a class="navbar-brand" href="/">Vidly</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/Customers/" class="nav-link">Customers</a></li>
                <li class="nav-item"><a href="/Movies/" class="nav-link">Movies</a></li>
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
            </ul>

        </div>
    </div>
</nav>

