﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name </li>
    <li>Release date: @Model.ReleaseDay.ToLongDateString() </li>
    <li>Date added: @Model.DateAdded.ToLongDateString() </li>
    <li>Number in stock: @Model.NumberInStock</li>
</ul>

