﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthYear.HasValue)
    {
        <li>Birth Date: @Model.BirthYear/@Model.BirthMonth/@Model.BirthDay</li>
    }
</ul>

