﻿@*@model Vidly.ViewModels.CustomersViewModel --- changed on L29*@
@*EXERCISE: how to send data from controler to view in different way, than this lectures tells.*@
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
  
    @foreach (var customer in Model)
    {
    <tr>
        @*Change in L29. Previously I used ViewModels to get required Information.*@
        @*<th><a href="/Customers/Details/@customer.Id">@customer.Name</a></th>*@
        <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
        <td>@customer.MembershipType.Name</td>
    </tr>
    }

</table>
